# Backend
backend/node_modules/
backend/uploads/
backend/.env
backend/*.log

# Frontend  
frontend/node_modules/
frontend/build/
frontend/.env

# Docker
*.tar.gz

# IDE
.vscode/
.idea/
*.swp
*.swo

# Системные
.DS_Store
Thumbs.db
